.navbar-nav{
	margin-left:50%;
}

.cfu{
	height: 100px;
}
.navhome{
	margin-left: 20%;
	margin-right: 5%;
}
.navbrnd1{
	margin-left:5%;
}

.navbrnd2{
	margin-left:5%;
}

.navbrnd3{
	margin-left:5%;
}


/* index.html */

