/* index.html */

body{
	width: 100%;
	height: 100%;
}

.hhh{
	width: 1700px;
	height: 50px;
	margin: 0 auto;
	margin-top: 5%;
	font-size: 22px;
	font-weight: bolder;
	font-family: "Times New Roman";
}

.hhh1{
	float: left;
	width: 400px;
	height: 50px;
	margin-left: 100px;
	text-align: center;
	line-height: 50px;
}

.hhh2{
	float: left;
	width: 400px;
	height: 50px;
	margin-left: 100px;
	text-align: center;
	line-height: 50px;
}

.hhh3{
	float: left;
	width: 400px;
	height: 50px;
	margin-left: 100px;
	text-align: center;
	line-height: 50px;
}


.board{
	width: 1700px;
	height: 600px;
	margin: 0 auto;
}

.table1{
	float: left;
	width: 400px;
	height: 500px;
	margin-left: 100px;
	border: 1px solid black;
}

.table2{
	float: left;
	width: 400px;
	height: 500px;
	margin-left: 100px;
	border: 1px solid black;
	/*background-color: #0a53be;*/
}

.table3{
	float: left;
	width: 400px;
	height: 500px;
	margin-left: 100px;
	border: 1px solid black;
	/*background-color: #0a53be;*/
}