<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}">
    <title>BOARD PROJECT</title>
</head>
<body>
<!-- 네비게이션바 -->
<nav th:replace="navbar :: navbarFragment"></nav>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<div class="board">
    <div class="board1">
        <table class="table table1">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제목</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="question1, loop : ${paging}">
                <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                <td class="text-start">
                    <a th:href="@{|//detail/${question1.id}|}" th:text="${question1.subject}"></a>
                    <span class="text-danger small ms-2"
                          th:if="${#lists.size(question1.answer1List) > 0}"
                          th:text="${#lists.size(question1.answer1List)}">
                    </span>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="board2">

    </div>

    <div class="board3">

    </div>
</div>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>

<!-- 자바스크립트 End -->

</body>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</html>

