<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question2.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question2.content}"></div>
            <div class="d-flex justify-content-end">
            <div th:if="${question2.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">modified at</div>
                <div th:text="${#temporals.format(question2.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
                <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">
                    <span th:if="${question2.author != null}" th:text="${question2.author.username}"></span>
                </div>
                <div th:text="${#temporals.format(question2.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
            <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary"
                th:data-uri="@{|/question2/vote/${question2.id}|}">
                추천
                <span class="badge rounded-pill bg-success" th:text="${#lists.size(question2.voter)}"></span>
            </a>
            <a th:href="@{|/question2/modify/${question2.id}|}" class="btn btn-sm btn-outline-secondary"
                sec:authorize="isAuthenticated()"
                th:if="${question2.author != null and #authentication.getPrincipal().getUsername() == question2.author.username}"
                th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question2/delete/${question2.id}|}"
                class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                th:if="${question2.author != null and #authentication.getPrincipal().getUsername() == question2.author.username}"
                th:text="삭제"></a>
        </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" 
        th:text="|${#lists.size(question2.answer2List)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer2 : ${question2.answer2List}">
    	<a th:id="|answer2_${answer2.id}|"></a>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer2.content}"></div>
            <div class="d-flex justify-content-end">
            <div th:if="${answer2.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">modified at</div>
                <div th:text="${#temporals.format(answer2.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>
                <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">
                    <span th:if="${answer2.author != null}" th:text="${answer2.author.username}"></span>
                </div>
                    <div th:text="${#temporals.format(answer2.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
            <a href="javascript:void(0)" class="recommend btn btn-sm btn-outline-secondary"
                th:data-uri="@{|/answer2/vote/${answer2.id}|}">
                추천
                <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer2.voter)}"></span>
            </a>
            <a th:href="@{|/answer2/modify/${answer2.id}|}" class="btn btn-sm btn-outline-secondary"
                sec:authorize="isAuthenticated()"
                th:if="${answer2.author != null and #authentication.getPrincipal().getUsername() == answer2.author.username}"
                th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer2/delete/${answer2.id}|}"
                class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                th:if="${answer2.author != null and #authentication.getPrincipal().getUsername() == answer2.author.username}"
                th:text="삭제"></a>
        	</div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer2/create/${question2.id}|}" th:object="${answer2Form}" method="post" class="my-3">
    <div th:replace="form_errors :: formErrorsFragment"></div>
    <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function(element) {
		    element.addEventListener('click', function() {
		        if(confirm("정말로 삭제하시겠습니까?")) {
		            location.href = this.dataset.uri;
		        };
		    });
		});
		const recommend_elements = document.getElementsByClassName("recommend");
		Array.from(recommend_elements).forEach(function(element) {
		    element.addEventListener('click', function() {
		        if(confirm("정말로 추천하시겠습니까?")) {
		            location.href = this.dataset.uri;
		        };
		    });
		});
</script>
</html>